html{
		background-image: url(bg.jpg);
                overflow: none;
                background-size: cover;
                display: inline-block;
}
                #content{
                		width: 600px;
                		height: 400px;
                		text-align: center;
                		padding: 50px;
                		border-radius: 5px;

                		background-color: #ffffff;
                		box-shadow: 1px 1px 10px rgba(0,0,0,30%);

                		position: absolute;
                		margin: 0 auto;
                		left: 50%;
                		margin-left: -300px;
                		top: 50%;
                		margin-top: -200px;

                		font-family: 'Abril Fatface', cursive;
                }
#photo{
		width:150px;
		border-radius: 50%;
}

#name{
			margin-top: 20px;
}

#email{
	text-decoration: none;
	color: #e08283;
}

#email:hover{
	text-decoration: none;
	color: #89c4f4;
}

.link{
	text-decoration: none;
	color: #e08283;
}

.link:hover{
	text-decoration: none;
	color: #89c4f4;
}